<h1 class="text-center mt-5 mb-4">API Knewin</h1>

<div class="row my-2">
    <div class="col text-center">
        <a class="btn btn-dark btn-lg" href="/noticias" role="button" style="width: 300px;">
        <i class="fas fa-globe"></i> Lista de Notícias
        </a>
    </div>
</div>
<div class="row my-2">
    <div class="col text-center">
        <a class="btn btn-dark btn-lg" href="/cadastro" role="button" style="width: 300px;">
        <i class="fas fa-newspaper"></i> Cadastrar Notícias
        </a>
    </div>
</div>
<div class="row my-2">
    <div class="col text-center">
        <a class="btn btn-dark btn-lg" href="/palavras" role="button" style="width: 300px;">
        <i class="fas fa-pencil-alt"></i> Editar Palavras-Chave
        </a>
    </div>
</div>
